@{
  
}
@RenderSection("scripts",required:false)
<!doctype html>
<html lang="en">
<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/home/css/style.css">
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <h1><a href="/Welcome/Index" class="logo">M.</a></h1>
            <ul class="list-unstyled components mb-5">
              @*  <li class="active">
                    <a href="~/Welcome/home"><span class="fa fa-home"></span> Home</a>
                </li>*@
                <li>
                    <a href="/services/empClient"><span class="fa fa-user"> </span> Client</a>
                </li>
                <li>
                    <a href="/services/ToDoList"><span class="fa fa-sticky-note"></span> ToDoList</a>
                </li>
                <li>
                    <a href="/services/EmpFinance"><span class="fa fa-money"></span> Finance</a>
                </li>
                <li>
                    <a href="/services/empHistory"><span class="fa fa-history"></span> History</a>
                </li>
                <li>
                    <a href="/welcome/index"><span class="fa fa-sign-out"></span> Logout</a>
                </li>
            </ul>

            <div class="footer">
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                </p>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                   @* <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="active">
                                <a href="/Welcome/home" class="nav-link"> Home</a>
                            </li>
                            <li>
                                <a href="/services/empClient" class="nav-link"> Client</a>
                            </li>
                            <li>
                                <a href="/services/ToDoList" class="nav-link"> ToDoList</a>
                            </li>
                            <li>
                                <a href="/services/EmpFinance" class="nav-link"> Finance</a>
                            </li>
                            <li>
                                <a href="/services/empHistory" class="nav-link"> History</a>
                            </li>
                        </ul>
                    </div>*@
                </div>
            </nav>

      
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="/home/js/jquery.min.js"></script>
    <script src="/home/js/popper.js"></script>
    <script src="/home/js/bootstrap.min.js"></script>
    <script src="/home/js/main.js"></script>
</body>
</html>