@model projectF.Models.finance

@{
    ViewData["Title"] = "EditFinance";
    Layout = "main";
}

<h1>EditFinance</h1>

<h4>finance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFinance" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="operationAmount" class="control-label"></label>
                <input asp-for="operationAmount" class="form-control"name="opeamount" />
                <span asp-validation-for="operationAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalAmount" class="control-label"></label>
                <input asp-for="totalAmount" class="form-control"name="totalamount" />
                <span asp-validation-for="totalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="taxes" class="control-label"></label>
                <input asp-for="taxes" class="form-control" name="taxes"/>
                <span asp-validation-for="taxes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" name="state"/>
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maintenanceAmount" class="control-label"></label>
                <input asp-for="maintenanceAmount" class="form-control"name="mainamount" />
                <span asp-validation-for="maintenanceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="operationID" class="control-label"></label>
                <input asp-for="operationID" class="form-control" name="opeid"/>
                <span asp-validation-for="operationID" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="financeID" name ="id"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
